In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

A seires is a one-dimensional labeled array capable of holding any data type
Series Example:

In [2]:
obj = pd.Series([4, 7, -5, 3])

obj

0    4
1    7
2   -5
3    3
dtype: int64

The string representation of the series shows the index (range index), followed by the values.
Because to index is specified a default index is given.

Below is a series with an index:

In [3]:
obj2 = pd.Series([4, 7, -5, 3], index=['a','b','c','d'])

obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [4]:
obj2 * 2

a     8
b    14
c   -10
d     6
dtype: int64

In [5]:
obj2[obj2 > 0]

a    4
b    7
d    3
dtype: int64

We can apply mathematical operations to series as seen above on obj2.

A series is like a fixed length ordered dictionary.
A dictionary can easily be converted to a series.
And vice versa.

In [6]:
np.mean(obj2)

2.25

Numpy funtions can be applied to series.

DataFrame is a two-dimensional labeled data structure with columns of potentially different types.